@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{

    --cor01: #ffffff;
    --cor02: #f7eded;
    --inputcolorbg: #ed1a25b9;
    --btn-hover-color-bg: #293480;
    --cor03: #ED1A23;
    --cor04: #000000;


}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--cor02);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex; 
}
.text-bg{
    width: 30%;
    position: absolute;
    top: 94%;
    left: 1%;
    
    
    
}
.text-bg p{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    
    
}
.text-bg span{
    color: #ED1A23;
    
}
.form-image {
    width: 70%;
    height: 100vh;
    background-color: var(--cor01);
    
}
.form-image img{
    width: 70%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
}
.mobile-bg img{
    display: none;
}

.form {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor01);
    padding: 3rem;
}

.form-header img{
    margin: auto;
    display: block;
    width: 60%;
    margin-top: 20px;
}
.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    background-color: var(--inputcolorbg);
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    
}

.input-box input:focus-visible {
    outline: 1px solid #ED1A23;
}

.input-box input::placeholder {
    color: var(--cor01);
}


.form-button{
    margin: auto;
    width: 200px;
    display: flex;
    justify-content: center;
    
    
}
.form-button button{
    padding: 10px;
    margin: 10px;
    background-color: var(--cor03);
    border-radius: 10px;
    color: var(--cor01);
    border: none;
}

.form-button button:hover {
   
}

.form-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 600;
    color: var(--cor01);
}

@media screen and (max-width: 1330px) {

    :root{
        --cor01mbl: #ED1A23;
        --cor02mbl: #ffffff;
    }

    .form-image {
        display: none;
    }
    .mobile-bg img{
        width: 100vw;
        height: 100vh;
        display: block;
        position: absolute;
        object-fit: cover;
    }
    body{
        margin: auto;
        display: flex;
        
    }
    
    .container {
        display: flex;
        width: 100vw;
        height: 100vh;
    }
    .text-bg{
        display: none;
    }
    .form {
        background-color: #dbcecec5;
        border-radius: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        margin: auto;
        left: 25px;
        width: 80%;
        
    }
   
    .title img{
        display: block;
        width: 30%;
        margin-top: -20px;
    }
    .form-button button{
        background-color: var(--cor01mbl);
        
    }
    .form-button button a{
        color: var(--cor02mbl);

    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 100vw;
        height: auto;
    }
    .form {
        justify-content: center;
        margin: auto;
        left: -5px;
        width: 65%;
        
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    
}
